@model IEnumerable<Movie>

    @{
        ViewData["Title"] = "List of Movies";
    }
<head>
    <style>
        .textd {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .btn-sm {
            font-size:10px;
            height:30px;
            width:150px;
        }
        .btn-sm1 {
            font-size:10px;
            height: 30px;
            width: 100px;
        }
    </style>
</head>
<button class="btn btn-primary" asp-controller="Movies" asp-action="Create"> Add New</button>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background-color: #677AEA;">
                            <p class="card-text">
                                <h5 class="card-title" style="font-size:15px;">
                                    @item.Name
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" style="width:100%;" alt="@item.Name">
                    </div>
                    <div class="col-md-6" style="max-block-size:40px">
                        <div class="card-body" style="font-size: 10px; padding: 0.25rem;">
                            <p class="card-text textd" style="font-size:10px;">@item.Description</p>
                            <p class="card-text" style="font-size:10px;"><b>Cinema: </b>@item.Cinema.Name</p>
                            <p class="card-text" style="font-size:10px;"><b>Category: </b>@item.MovieCategory</p>
                            <p class="card-text" style="font-size:10px;"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text" style="font-size:10px;"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text" style="font-size:10px;">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-sm1 btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-sm btn-outline-success @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoppingCart"
                                   asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

